<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Description</title>
    <style>
      h1 {
        text-align: center;
      }

      h2 {
        margin-top: 20px;
      }

      table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
      }

      table,
      th,
      td {
        border: 1px solid #ddd;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1 class="text-center">Description</h1>
    <h2>Dataset Description</h2>
    <p>
      The dataset comprises various metrics related to online retail
      transactions. The features of the dataset are described in the table
      below:
    </p>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Variable</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Invoice No</td>
          <td>
            Code representing each unique transaction. If this code starts with
            the letter 'c', it indicates a cancellation.
          </td>
        </tr>
        <tr>
          <td>StockCode</td>
          <td>Code uniquely assigned to each distinct product.</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>Description of each product.</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>The number of units of a product in a transaction.</td>
        </tr>
        <tr>
          <td>InvoiceDate</td>
          <td>The date and time of the transaction.</td>
        </tr>
        <tr>
          <td>UnitPrice</td>
          <td>The unit price of the product in sterling.</td>
        </tr>
        <tr>
          <td>CustomerID</td>
          <td>Identifier uniquely assigned to each customer.</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>The country of the customer.</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
